<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!--包扫描，这样写mapper.xml时返回类型可以直接使用类名-->
        <package name="team.jnu.wardsystem.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.opengauss.Driver"/>
                <property name="url" value="jdbc:opengauss://113.45.207.38:26000/ward"/>
                <property name="username" value="gaussdb"/>
                <property name="password" value="Gauss123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="team.jnu.wardsystem.mapper"/>
    </mappers>
</configuration>