<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.jnu.wardsystem.mapper.EquipmentMapper">
    <select id="searchAllEquipment" resultType="Equipment">select * from equipments</select>
    <select id="searchEquipmentList" resultType="Equipment"> select * from equipments where
        ward_id=#{ward_id} and bed_id=#{bed_id} </select>
    <update id="updateEquipment" parameterType="map">
        UPDATE equipments SET bed_id = CASE WHEN #{bed_id} = 0 THEN NULL ELSE #{bed_id} END,
        ward_id = CASE WHEN #{ward_id} = 0 THEN NULL ELSE #{ward_id} END
        WHERE equipment_id = #{equipment_id}
    </update>
    <delete id="deleteEquipment">delete from equipments where equipment_id=#{equipment_id} </delete>
</mapper>