<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.jnu.wardsystem.mapper.PatientMapper">
    <insert id="insertPatient"> INSERT INTO patients(patient_id,
        patient_name,gender,age,phone,admission_date,paid_amount)
        VALUES(#{patient_id},#{patient_name},#{gender},#{age},#{phone},#{admission_date},0) </insert>
    <select id="selectAllPatients" resultType="Patient">select * from patients where
        doctor_id=#{doctor_id}</select>
    <select id="searchPatientById" resultType="Patient">select * from patients where
        patient_id=#{patient_id}</select>
    <select id="getMaxPatientID" resultType="java.lang.Integer"> SELECT MAX(patient_id) FROM
        patients </select>
    <update id="updatePatientNote" parameterType="map"> UPDATE patients SET notes = #{notes} WHERE
        bed_id = #{bed_id} and ward_id = #{ward_id} </update>
    <update id="updatePatientBed" parameterType="map"> UPDATE patients SET bed_id = #{newBedId}
        WHERE bed_id = #{bed_id} and ward_id = #{ward_id} </update>
    <update id="updatePatientWard" parameterType="map"> UPDATE patients SET ward_id = #{newWardId}
        WHERE bed_id = #{bed_id} and ward_id = #{ward_id} </update>
</mapper>